{% extends 'index.html' %}
{% load static %}

{% block title %}
    Hotel Cacique - Home
{% endblock %}

{% block body %}
<div class="parallax p-2" >
        {% for item in dados_hotel %}
        <div class="card p-3" style="width: 30rem; margin: 30px; text-align: center; padding: 20px; display: flex;  justify-content: center; justify-items: center; color: #fff ;background-color: rgba(29, 27, 27, 0.7);">
          <h1 class="title">Cacique Hotel's</h1>
          <img src="{{item.logo.url}}" alt="quarto">
          <div class="card-body">
            <p class="card-text">{{item.descricao}}</p>
            <h5 class="subtitle">Seu conforto em primeiro lugar!</h5>
            <a href="http://127.0.0.1:8000/quartos" class="btn btn-primary">Quartos</a>
          </div>
        </div>
        {% endfor %}
</div>
{% endblock %}